test-job:
  stage: test
  script:
    - cd ci
    - |
      podman info

      ./scripts/download-backup.sh

      podman run --rm --replace \
        --name dgraph-restore \
        -v dgraph_data:/dgraph \
        -v $(pwd)/data/backup:/backup:Z \
        docker.io/dgraph/standalone:latest \
        dgraph restore \
          --location /backup \
          --force_zero=false \
          --postings /dgraph

      podman run -d --replace \
        --name dgraph \
        -p 8080:8080 \
        -p 9080:9080 \
        -v dgraph_data:/dgraph \
        -v $(pwd)/../schema/schema.dql:/schema.dql:ro,Z \
        docker.io/dgraph/standalone:latest \
        bash -lc 'rm -rf p >/dev/null 2>&1 || true; mv p1 p >/dev/null 2>&1 || true; exec /run.sh'

      podman run -d \
        --name dgraph-client \
        --network host \
        -w /app \
        dgraph-client \
        sleep 666h

      set +e
      ./scripts/test.sh > "output_${CI_PROJECT_NAME}.txt"
      test_status=$?
      set -e

      cp "output_${CI_PROJECT_NAME}.txt" ..
      exit "$test_status"
      RUN_TEST
    - bash run-tests.sh
  artifacts:
    paths:
      - output_${CI_PROJECT_NAME}.txt
  rules:
    - if: $CI_COMMIT_TAG =~ /^test.*/
