test-job:
  stage: test
  script:
    - cd ci
    - |
      podman info

      ./scripts/download-backup.sh

      podman-compose version
      podman-compose up dgraph-restore
      podman-compose build dgraph-client
      podman-compose up -d dgraph dgraph-client

      set +e
      ./scripts/test.sh > "output_${CI_PROJECT_NAME}.txt"
      test_status=$?
      set -e

      cp "output_${CI_PROJECT_NAME}.txt" ..
      exit "$test_status"
      RUN_TEST
    - bash run-tests.sh
  artifacts:
    paths:
      - output_${CI_PROJECT_NAME}.txt
  rules:
    - if: $CI_COMMIT_TAG =~ /^test.*/
