test-job:
  stage: test
  script:
    - cd ci
    - echo "Tests running"
    - ./test.sh > output_${CI_PROJECT_NAME}.txt
  rules:
    - if: $CI_COMMIT_TAG =~ /^test.*/
  artifacts:
    paths:
      - output_${CI_PROJECT_NAME}.txt