version: '3.8'

services:
  dgraph:
    image: dgraph/standalone:latest
    volumes:
      - ./data:/data
      - ./@schema.gql:/@schema.gql
      - ./tmp:/dgraph
    # command: dgraph bulk -f /data/cskg.json -s /schema.dql
    ports:
      - "8080:8080"
      - "9080:9080"
    stdin_open: true
    tty: true

  ratel:
    image: dgraph/ratel:latest
    ports:
      - "8000:8000"