version: '3.8'

services:
  zero:
    image: dgraph/dgraph:latest
    container_name: dgraph-zero
    ports:
      - "5080:5080"
      - "6080:6080"
    volumes:
      - type: volume
        source: dgraph-zero
        target: /dgraph
        volume:
          nocopy: true
    restart: unless-stopped
    command: dgraph zero --bindall=true --my=zero:5080

  alpha:
    image: dgraph/dgraph:latest
    container_name: dgraph-alpha
    ports:
      - 8080:8080
      - 7080:7080
      - 9080:9080
    volumes:
      - type: volume
        target: /dgraph
        source: dgraph-alpha
        volume:
          nocopy: true
      - ./schema/schema.dql:/schema.dql
      - ./data:/data
      - ./scripts/bulk-load.sh:/bulk-load.sh
      - ./data/backup:/backup
    depends_on:
      - zero
    command: 'bash /bulk-load.sh'

  ratel:
    image: dgraph/ratel:latest
    ports:
      - "8000:8000"

volumes:
  dgraph-alpha-2:
   driver: local
  dgraph-alpha:
   driver: local
  dgraph-zero:
   driver: local