version: '3.8'

services:
  dgraph-restore:
    image: ${DOCKER_HUB_NAMESPACE:-local}/dgraph-restore:${DOCKER_IMAGE_TAG:-latest}
    container_name: dgraph-restore
    build:
      context: .
      dockerfile: ./dgraph-standalone.Dockerfile
    volumes:
      - dgraph_data:/dgraph
      - ./data/backup:/backup
    restart: "no"
    command: >
      dgraph restore --location /backup --force_zero=false --postings /dgraph

  dgraph:
    image: ${DOCKER_HUB_NAMESPACE:-local}/dgraph:${DOCKER_IMAGE_TAG:-latest}
    container_name: dgraph
    build:
      context: .
      dockerfile: ./dgraph-standalone.Dockerfile
    depends_on: 
      - dgraph-restore
    ports:
      - "8080:8080"
      - "9080:9080"
    volumes:
      - dgraph_data:/dgraph
      - ../schema/schema.dql:/schema.dql:ro
    command: >-
      bash -lc 'rm -rf p >/dev/null 2>&1 || true; mv p1 p >/dev/null 2>&1 || true; exec /run.sh'

  dgraph-client:
    container_name: dgraph-client
    image: ${DOCKER_HUB_NAMESPACE:-local}/dgraph-client:${DOCKER_IMAGE_TAG:-latest}
    build:
      context: ..
      dockerfile: ./ci/client.Dockerfile
    working_dir: /app
    network_mode: host 
    command: ["sleep", "666h"]

volumes:
  dgraph_data:
